<li id="<%= "image_#{photo.id}" -%>">
	<%= image_tag(photo.image.url(:admin_prev)) %>
	<div class="controls">
		<% if photo.default? %>
			<a>&lt;!&gt;</a>
		<% else %>
			<%= link_to_remote "[!]", :url => set_default_admin_gallery_photo_path(photo.gallery_id, photo) -%>
		<% end %>
<%= link_to_remote "[x]", :url => admin_gallery_photo_path(photo.gallery_id, photo), :method => :delete, :confirm => 'Вы уверенны что хотите удалить изображение?' -%>
	</div>
</li>