<ul class="menu">
	<% items.each_index do |i| %>
		<li <%= 'class="first"' if i == 0 -%>>
			<%= link_to items[i].send("#{session[:lang]}_title"), gallery_path(:permalink => items[i].permalink), :class => ( (params[:permalink].to_s == items[i].permalink) ? 'active' : '' ) %>
		</li>
	<% end %>
</ul>