<% content_for :script do %>
	<script type="text/javascript">
		window.addEvent('domready', function(){
			var galleryImages = $$('#gallery li');
			var galleryLinks = $$('#container #content .menu li a');
			var currentIndex = 0;
			var timerFlag = null;
			galleryLinks[0].addClass('active');

			var moveImage = function(e, index){
				if (e) new Event(e).stop();
				if (index!=currentIndex){
					galleryLinks[currentIndex].removeClass('active');
					galleryLinks[index].addClass('active');
					galleryImages[currentIndex].getElement('a').removeClass('active');
					galleryImages[index].getElement('a').addClass('active');
					if (currentIndex<index)
						for (var i=currentIndex; i<index; i++) galleryImages[i].tween('left', -680+20*i-5);
					else 
						for (var i=index; i<currentIndex; i++) galleryImages[i].tween('left', 20*i);
					currentIndex = index;
				}
				index = (index + 1)%8;
				$clear(timerFlag);
				timerFlag = moveImage.delay(20000, null, [null, index]);
			};

			var initGallery = function(){
				galleryImages.each(function(element, index){
					element
						.addClass('show')
						.setStyle('z-index', 8-index)
						.addEvent('mouseover', moveImage.bindWithEvent(null, index))
						.tween('left', [0, 20*index]);
					if (!index) element.getElement('a').addClass('active');
				});
				galleryLinks.each(function(element, index){
					element.addEvent('mouseover', moveImage.bindWithEvent(null, index));
				});
				timerFlag = moveImage.delay(20000, null, [null, 1]);
			};
			initGallery();
		});
	</script>
<% end %>

<% cache "#{session[:lang]}_index_photos" do %>
<ul id="gallery">
	<% @galleries_list.each do |gallery| %>
		<li>
			<%= link_to '', gallery_path(:permalink => gallery.permalink), :style => "background-image: url(#{ (!gallery.default_photo.nil?) ? gallery.default_photo.image(:gal) : '/images/gallery/1.jpg' })" -%>
		</li>
	<% end %>
</ul>
<% end %>